<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<!-- hack iOS CSS :active style -->
<body ontouchstart="">

<!-- toTop Button -->
<div id="btnToTop"></div>
<script>
    $(function btnToTop() {
        'use strict';
        const oBtn = $('#btnToTop');
        oBtn.click(function() {
            $('html, body').animate({ scrollTop: 0 }, 200);
        });
        $(window).scroll(function() {
            const s = $(window).scrollTop();
            s >= 500 ? oBtn.show() :
                       oBtn.stop().fadeOut(200);
        });
    });
</script>

    {% include nav.html %}

    {{ content }}

    {% include footer.html %}



<!-- Image to hack wechat -->
<img src="/img/icon_wechat.png" width="0" height="0" />
<!-- Migrate from head to bottom, no longer block render and still work -->

</body>

</html>
